<form #userForm="ngForm" (ngSubmit)="onSubmit()">

  <div class="mb-3">
    <label class="form-label" for="name">Имя:</label>
    <input [(ngModel)]="model.name" class="form-control" id="name" placeholder="" 
    type="text" name="name" required #name="ngModel" maxlength="10" minlength="4">
    <div *ngIf="formErrors.name" class="alert alert-danger">{{formErrors.name}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="age">Возраст:</label>
    <input [(ngModel)]="model.age" class="form-control" id="age" placeholder="" 
    type="number" name="age" required #age="ngModel">
    <div *ngIf="formErrors.age" class="alert alert-danger">{{formErrors.age}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="role">Роль:</label>
    <select [(ngModel)]="model.role" class="form-select" id="role" name="role">
      <option disabled selected value="">Выберите роль</option>
      <option *ngFor="let role of roles" [value]="role">{{role}}</option>
    </select>
  </div>

  <div class="mb-3">
   <button [disabled]="userForm.form.invalid" class="btn btn-info">Сохранить</button>
  </div>

</form>

