<form (ngSubmit)="onSubmit()" [formGroup]="userForm">

  <div class="mb-3">
    <label class="form-label" for="name">Логин:</label>
    <input class="form-control" id="name" type="text" formControlName="name" placeholder="Логин">
    <div *ngIf="formErrors.name" class="alert alert-danger">{{formErrors.name}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="password">Пароль:</label>
    <input class="form-control" id="password" type="password" formControlName="password" placeholder="Пароль">
    <div *ngIf="formErrors.password" class="alert alert-danger">{{formErrors.password}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="email">Email:</label>
    <input class="form-control" id="email" type="email" formControlName="email" placeholder="Email">
    <div *ngIf="formErrors.email" class="alert alert-danger">{{formErrors.email}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="age">Возраст:</label>
    <input class="form-control" id="age" type="text" formControlName="age" placeholder="Возраст">
    <div *ngIf="formErrors.age" class="alert alert-danger">{{formErrors.age}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="role">Роль:</label>
    <select class="form-select" id="role" formControlName="role">
      <option [value]="null" disabled selected>Выберите роль</option>
      <option *ngFor="let role of roles" [value]="role">{{role}}</option>
    </select>
    <div *ngIf="formErrors.role" class="alert alert-danger">{{formErrors.role}}</div>
  </div>

  <div class="mb-3">
    <button [disabled]="" class="btn btn-info">Сохранить</button>
  </div>

</form>












<!-- <form #userForm="ngForm" (ngSubmit)="onSubmit()">

  <div class="mb-3">
    <label class="form-label" for="name">Имя:</label>
    <input [(ngModel)]="model.name" class="form-control" id="name" placeholder="" 
    type="text" name="name" required #name="ngModel" maxlength="10" minlength="4">
    <div *ngIf="formErrors.name" class="alert alert-danger">{{formErrors.name}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="age">Возраст:</label>
    <input [(ngModel)]="model.age" class="form-control" id="age" placeholder="" 
    type="number" name="age" required #age="ngModel">
    <div *ngIf="formErrors.age" class="alert alert-danger">{{formErrors.age}}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="role">Роль:</label>
    <select [(ngModel)]="model.role" class="form-select" id="role" name="role">
      <option disabled selected value="">Выберите роль</option>
      <option *ngFor="let role of roles" [value]="role">{{role}}</option>
    </select>
  </div>

  <div class="mb-3">
   <button [disabled]="userForm.form.invalid" class="btn btn-info">Сохранить</button>
  </div>

</form>
 -->